#name {
	font-family: Lato;
	font-weight: 300;
}

.pitem{
	height: 150px;
	overflow: hidden;
}

.pitem:before{
	content: "";
	position: absolute;
	top:0;
	left:-50%;
	width:50%;
	height: 100%;
	background: indigo;
	opacity: 0.1;
	transition: 1s;
	pointer-events: none;
}

.pitem:hover:before {
	left: -10%;
	transform: skewX(-10deg);
}

.pitem .content{

	text-align: center;
}

.myshadow{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4{
	font-family: Lato;
}