a, a:hover, a:visited{
	text-decoration: none;
}


#name {
	font-family: Lato;
	font-weight: 300;
}

.pitem{
	height: 150px;
	overflow: hidden;
}

.pitem:before{
	content: "";
	position: absolute;
	top:0;
	left:-50%;
	width:50%;
	height: 100%;
	background: #933469;
	opacity: 0.3;
	transition: 1s;
	pointer-events: none;
}
.pitem:after{
	content: "";
	position: absolute;
	top:0;
	right:-50%;
	width:50%;
	height: 100%;
	background: #933469;
	opacity: 0.3;
	transition: 1s;
	pointer-events: none;
}

.pitem:hover:before {
	left: -10%;
	transform: skewX(-15deg);
}

.pitem:hover:after {
	right: -10%;
	transform: skewX(-15deg);
}

.myshadow{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4{
	font-family: Lato;
}

.left{
	background: #f8f4f8;
}

@media (min-width: 768px){
	.right{
		margin-left: 5%;
	}
}
