a, a:hover, a:visited{
	text-decoration: none;
}


#name {
	font-family: Lato;
	font-weight: 300;
}

.pitem{
	height: 150px;
}

.container{
	height: 100vh !important;
}


body:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: -10%;
	width: 80%;
	height: 100%;
	background: #BD1550;
	opacity: 0.7;
	transform: skewX(45deg);
	animation: bodyAnimation 50s infinite alternate linear;
	z-index: -1;
}
body:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: -10%;
	width: 80%;
	height: 100%;
	background: #f8ca00;
	opacity: 0.7;
	transform: skewX(45deg);
	animation: bodyAnimation2 60s infinite alternate linear;
	z-index: -2;
}

@keyframes bodyAnimation{
	from{
		left: -50%;
	}
	to {
		left: 100%;
	}
}

@keyframes bodyAnimation2{
	from{
		left: 100%;
	}
	to {
		left: -50%;
	}
}

.pitem .content:before{
	content: "";
	position: absolute;
	top:0;
	left:-50%;
	width:50%;
	height: 100%;
	background: #933469;
	opacity: 0.3;
	transition: 1s;
	pointer-events: none;
}
.pitem .content:after{
	content: "";
	position: absolute;
	top:0;
	right:-50%;
	width:50%;
	height: 100%;
	background: #933469;
	opacity: 0.3;
	transition: 1s;
	pointer-events: none;
}

.pitem .content:hover:before {
	left: -10%;
	transform: skewX(-15deg);
}

.pitem .content:hover:after {
	right: -10%;
	transform: skewX(-15deg);
}

.pitem .content{
	text-align: center;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.pitem .content span{
	position: absolute;
	top: 110%;
	left:50%;
	margin-left: -53px;
	transition: 1s;
}

.pitem .content:hover span{
	top:70%;
}

.test{
	position: relative;
}

.date{
	position: absolute;
	top:-10%;
	background: #BD1550;
	font-style: italic;
	font-weight: 300;
	z-index: 100;
	font-size: 0.8em;
}

.myshadow{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4{
	font-family: Lato;
}

.left{
	background: #f8f4f8;
	text-align: center;
}

@media (min-width: 768px){
	.right{
		margin-left: 5%;
	}
	html,body {
		overflow: hidden;
	}
}
